.input-group {
    padding: 1rem 1rem 0.375rem;
    border: 2px solid #05070829;
    border-radius: 27px;
    margin-bottom: 1rem;
}

.input-group-text {
    font-size: 12px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.form-control {
    font-size: 14px;
    height: 1.75rem;
    font-weight: 400;
    background: none;
    padding: 0 0.75rem;
}

.form-control:focus {
    font-weight: 700;
}

.form-control,
.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 transparent;
}

.input-group-label {
    font-size: 1rem;
    line-height: 1.75rem;
    position: absolute;
    top: 32%;
    left: 1.75rem;
    transform-origin: left top;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.15rem;
    text-align: left;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    will-change: transform;
    margin-bottom: 0;
}

.input-group-label--floating {
    right: initial;
    transform: translateY(-90%);
    font-size: 0.75rem;
    pointer-events: none;
    z-index: 4;
}