@font-face {
    font-family: "OpenSans";
    src: url(../assets/fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "OpenSans";
    background: rgb(255, 33, 122);
    background: linear-gradient( 146deg, rgba(255, 33, 122, 1) 0%, rgba(255, 77, 77, 1) 100%);
    color: #ffffff;
}